alabaster==0.7.7
amqp==1.4.9
anyjson==0.3.3
Babel==2.2.0
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.22
celery==3.1.20
certifi==2016.2.28
coverage==4.0.3
dbf==0.94.3
Django==1.9.2
django-celery==3.1.17
django-rest-swagger==0.3.5
djangorestframework==3.3.2
docutils==0.12
drfdocs==0.0.6
flower==0.9.0
futures==3.0.5
imagesize==0.7.0
jdcal==1.2
Jinja2==2.8
kombu==3.0.33
MarkupSafe==0.23
numpy==1.10.4
openpyxl==2.2.0b1
psycopg2==2.6.1
Pygments==2.1.3
python-dateutil==2.2
pytz==2015.7
PyYAML==3.11
requests==2.9.1
scipy>=0.17.0
scikit-learn>=0.17
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.4
SQLAlchemy==1.0.12
tornado==4.2
xlrd==0.9.4
pandas>=0.17.1
